*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(sky.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.main{
    max-width: 1400px;
    margin: auto;
}
/*    navigation*/

ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover{
    background-color: #fff;
    color: #000;
}

/*    logo*/

.logo img{
    float: left;
    width: 350px;
    height: 490px;
/*    border-radius: 50px;*/
}

    /*TITLE*/

.title{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% -50%);
}

.title h1{
    color: #fff;
    font-size: 100px;
    
}

.title-cw{
    position: absolute;
    top: 95%;
    left: 5%;
    transform: translate(-50% -50%);
    color: #fff;
    font-size: 7px; 
}
.title-about {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50% -50%);
    font-size: 30px;
    color: #fff;
}
    /*BUTONS*/
.button-book{
    position: absolute;
    top:45%;
    left: 65%;
    transform: translate(-50% -50%);
   
    
}
.btn-book{
    color:white;
    font-size: 30px;
    transition: 1s ease;
}

.btn-book:hover{
    background-color: white;
    color: black;    
}

/*
.btn-covid{
    color:#fff;
    font-size: 20px; 
}

.button-covid {
    position: absolute;
    top:55%;
    left:63%;
    transform: translate(-50% -50%);
}*/

/*5 BOX GRID*/

/*
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.item1 {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.item2 {
  grid-column: 3;
  grid-row: 1 / span 2;
}

.item5 {
  grid-column: 1 / span 3;
  grid-row: 3;
}
*/

/*FOOTER*/

.main-footer {
    padding: 0.2em 0;
    bottom 10px;
    width: 100%;
    height: 75px;
    background-color: none;
    position: fixed;
    left: 0;
    bottom: 0;
    
}

.main-footer-container {
    display: flex;
    align-items: center;
    bottom: 12px;
    background-color: none;
    border-top: black;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
    background-color: none;
    border-bottom: 5px black;
}

.feittech-image-right {
    align-content: left;
    width: 200px;
    margin: 15px;
    padding: 0;
    border: none;
    margin: 0;
}

.footer-name {
    padding-bottom: 5em;
    padding-left: 2em;
    color: white;
    font-size:2em;
}

.logo-footer {
    padding-bottom: 6em;
}

.footer-socials img{
    width: 9%; 
    height: 8%;
    
}


